.header {
  display: grid;
  grid-gap: var(--32px);
  color: var(--gray-3);
  grid-template-columns:
    [index] minmax(17rem, 4fr) [first] minmax(12.5rem, 3fr)
    [var1] minmax(11.2rem, var(--col2, 2fr)) [last] minmax(7.5rem, 1fr);
}
