.trigger {
  border-radius: var(--radius-3);
  border: 1px solid rgba(255, 255, 255, 1);
  width: fit-content;
  padding: var(--10px) var(--20px);
  font-size: var(--16px);
  line-height: var(--16px);
}

.drop-down-menu-content {
  background-color: var(--black-4);
  font-size: var(--20px);
  line-height: var(--24px);
  border-radius: var(--radius-2);
  padding: var(--padding-2);
  display: flex;
  flex-direction: column;
  gap: var(--24px);
}

.menu-item {
}
