@font-face {
  font-family: Roboto;
  src: url(../src/assets/font/Roboto-Regular.ttf);
}
@import "tailwindcss";

@theme {
  --font-roboto: Roboto, "sans-serif";
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --6px: 0.375rem;
  --8px: 0.5rem;
  --12px: 0.75rem;
  --16px: 1rem;
  --24px: 1.5rem;
  --32px: 2rem;
  --40px: 2.5rem;
  --48px: 3rem;
  --52px: 3.25rem;
  --278px: 17.375rem;

  --violet-1: #580ea2;
  --violet-2: #3f007d;
  --violet-3: #271a58;

  --white-1: #ffffff;

  --black-1: #000000;

  --gray-1: #f4f5f6;
  --gray-2: #d9d9d9;

  --border-color: #d0cece;

  --radius-1: var(--6px);
  --radius-2: var(--12px);

  --size-10: var(--278px);
  --size-1: var(--40px);
  --size-2: var(--52px);

  --text-color: #d0cece;

  --padding-1: var(--8px);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--black-1);
  }
}
